<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312260051368-bri27756sfnhj9fqonl021ks1cio4sd3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312260051368-bri27756sfnhj9fqonl021ks1cio4sd3</string>
	<key>API_KEY</key>
	<string>AIzaSyCa5KaFxyo2MunAzLlEvZpRnGobfpurvjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>312260051368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.burhankaynak.Bookie</string>
	<key>PROJECT_ID</key>
	<string>bookie-8e9f2</string>
	<key>STORAGE_BUCKET</key>
	<string>bookie-8e9f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312260051368:ios:7659d019e3116e6de0dd9d</string>
</dict>
</plist>